In [1]:
import pandas as pd
import numpy as np

In [5]:
# read data
df = pd.read_csv('mobiles.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    312 non-null    object
 1   price   312 non-null    object
 2   rw      307 non-null    object
dtypes: object(3)
memory usage: 7.4+ KB

,name,price,rw
0,"Infinix SMART 7 (Azure Blue, 64 GB)","₹7,499","6,823 Ratings & 365 Reviews"
1,"Infinix NOTE 12i (Alpine White, 64 GB)","₹10,499","3,106 Ratings & 334 Reviews"
2,"realme C30 (Lake Blue, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
3,"realme C30 (Bamboo Green, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
4,"realme C30 (Denim Black, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
...,...,...,...
307,"OPPO A17 (Lake Blue, 64 GB)","₹12,499","3,325 Ratings & 127 Reviews"
308,"realme C30s (Stripe Black, 64 GB)","₹8,499","5,437 Ratings & 301 Reviews"
309,I Kall K3310,₹744,"61,953 Ratings & 7,227 Reviews"
310,"vivo Y56 5G (Black Engine, 128 GB)","₹19,999",288 Ratings & 12 Reviews
311,"REDMI Note 11s (Space Black, 128 GB)","₹16,990","1,213 Ratings & 103 Reviews"

In [6]:
# processor function
def clean_price_data(price):
    if isinstance(price, str):
        price = price.replace(',','').replace('₹','').strip()
    if price.isnumeric():
        return float(price)

In [24]:
def split_rw_data(rw):
    if isinstance(rw, str):
        rw = rw.split('&')
        return rw[0], rw[1]
    else:
        return np.nan, np.nan

In [14]:
df['cleaned_price']=df['price'].apply(clean_price_data)

In [25]:
df['ratings'], df['reviews'] = zip(*df['rw'].apply(split_rw_data))      # unpacking the tuple

In [26]:
df

,name,price,rw,cleaned_price,ratings,reviews
0,"Infinix SMART 7 (Azure Blue, 64 GB)","₹7,499","6,823 Ratings & 365 Reviews",7499.0,"6,823 Ratings",365 Reviews
1,"Infinix NOTE 12i (Alpine White, 64 GB)","₹10,499","3,106 Ratings & 334 Reviews",10499.0,"3,106 Ratings",334 Reviews
2,"realme C30 (Lake Blue, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
3,"realme C30 (Bamboo Green, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
4,"realme C30 (Denim Black, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
...,...,...,...,...,...,...
307,"OPPO A17 (Lake Blue, 64 GB)","₹12,499","3,325 Ratings & 127 Reviews",12499.0,"3,325 Ratings",127 Reviews
308,"realme C30s (Stripe Black, 64 GB)","₹8,499","5,437 Ratings & 301 Reviews",8499.0,"5,437 Ratings",301 Reviews
309,I Kall K3310,₹744,"61,953 Ratings & 7,227 Reviews",744.0,"61,953 Ratings","7,227 Reviews"
310,"vivo Y56 5G (Black Engine, 128 GB)","₹19,999",288 Ratings & 12 Reviews,19999.0,288 Ratings,12 Reviews
311,"REDMI Note 11s (Space Black, 128 GB)","₹16,990","1,213 Ratings & 103 Reviews",16990.0,"1,213 Ratings",103 Reviews